<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- ru.systemoteh.educationportal.prim -->

    <!-- CourseDaoJpaImpl bean -->
    <bean id="courseDaoJpaImpl" class="ru.systemoteh.educationportal.prim.dao.impl.CourseDaoJpaImpl"/>

    <!-- LectureDaoMySqlImpl bean -->
    <bean id="lectureDaoMySqlImpl" class="ru.systemoteh.educationportal.prim.dao.impl.LectureDaoMySqlImpl">
        <property name="lectureDao" ref="lectureDaoNativeSqlImpl"/>
    </bean>

    <!-- LectureDaoNativeSqlImpl bean -->
    <bean id="lectureDaoNativeSqlImpl" class="ru.systemoteh.educationportal.prim.dao.impl.LectureDaoNativeSqlImpl"/>

    <!-- TestDaoImpl bean -->
    <bean id="testDaoImpl" class="ru.systemoteh.educationportal.prim.dao.impl.TestDaoImpl">
        <property name="dataSource" ref="dataSourceServ"/>
    </bean>

    <!-- UserDaoMySqlImpl bean -->
    <bean id="userDaoMySqlImpl" class="ru.systemoteh.educationportal.prim.dao.impl.UserDaoMySqlImpl">
        <property name="userDao" ref="userDaoNativeSqlImpl"/>
    </bean>

    <!-- UserDaoNativeSqlImpl bean -->
    <bean id="userDaoNativeSqlImpl" class="ru.systemoteh.educationportal.prim.dao.impl.UserDaoNativeSqlImpl"/>

    <!-- CourseService bean -->
    <bean id="courseService" class="ru.systemoteh.educationportal.prim.service.impl.CourseServiceImpl">
        <property name="courseDao" ref="courseDaoJpaImpl"/>
    </bean>

    <!-- LectureService bean -->
    <bean id="lectureService" class="ru.systemoteh.educationportal.prim.service.impl.LectureServiceImpl">
        <property name="lectureDao" ref="lectureDaoNativeSqlImpl"/>
    </bean>

    <!-- TestService bean -->
    <bean id="testService" class="ru.systemoteh.educationportal.prim.service.impl.TestServiceImpl">
        <property name="testDao" ref="testDaoImpl"/>
    </bean>

    <!-- UserService bean -->
    <bean id="userService" class="ru.systemoteh.educationportal.prim.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDaoMySqlImpl"/>
    </bean>


    <!-- ru.systemoteh.educationportal.serv -->



</beans>

