<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/data/jpa
    http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd">

    <tx:annotation-driven/>

    <!-- Nested package included -->
    <jpa:repositories base-package="ru.systemoteh.educationportal.dao"/>
    <jpa:repositories base-package="ru.systemoteh.educationportal.repository"/>


    <!-- For connection to database -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="ru.systemoteh.educationportal.model"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>

    <bean id="transactionManager"
          class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <!-- CourseDaoJpaImpl bean -->
    <bean id="courseDaoJpaImpl" class="ru.systemoteh.educationportal.dao.impl.CourseDaoJpaImpl"/>

    <!-- LectureDaoMySqlImpl bean -->
    <bean id="lectureDaoMySqlImpl" class="ru.systemoteh.educationportal.dao.impl.LectureDaoMySqlImpl"/>

    <!-- LectureDaoNativeSqlImpl bean -->
    <bean id="lectureDaoNativeSqlImpl" class="ru.systemoteh.educationportal.dao.impl.LectureDaoNativeSqlImpl"/>

    <!-- UserDaoMySqlImpl bean -->
    <bean id="userDaoMySqlImpl" class="ru.systemoteh.educationportal.dao.impl.UserDaoMySqlImpl"/>

    <!-- UserDaoNativeSqlImpl bean -->
    <bean id="userDaoNativeSqlImpl" class="ru.systemoteh.educationportal.dao.impl.UserDaoNativeSqlImpl"/>

    <!-- CourseService bean -->
    <bean id="courseService" class="ru.systemoteh.educationportal.service.impl.CourseServiceImpl">
        <property name="courseDao" ref="courseDaoJpaImpl"/>
    </bean>

    <!-- LectureService bean -->
    <bean id="lectureService" class="ru.systemoteh.educationportal.service.impl.LectureServiceImpl">
        <property name="lectureDao" ref="lectureDaoMySqlImpl"/>
    </bean>

    <!-- UserService bean -->
    <bean id="userService" class="ru.systemoteh.educationportal.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDaoMySqlImpl"/>
    </bean>

</beans>