<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns="http://www.springframework.org/schema/beans" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/data/jpa
    http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <tx:annotation-driven/>

    <!-- Primary database -->
    <bean id="dataSourcePrim" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${edu_portal_prim.mysql.driverClassName}"/>
        <property name="url" value="${edu_portal_prim.mysql.url}"/>
        <property name="username" value="${edu_portal_prim.mysql.username}"/>
        <property name="password" value="${edu_portal_prim.mysql.password}"/>
    </bean>

    <bean id="entityManagerFactoryPrim" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSourcePrim"/>
        <property name="persistenceUnitName" value="edu_portal_prim"/>
        <property name="packagesToScan" value="ru.systemoteh.educationportal.prim.model"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>

    <bean id="transactionManagerPrim" name="edu_portal_prim"
          class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactoryPrim"/>
    </bean>


    <!-- Service database 01 -->
    <bean id="dataSourceServ01" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${edu_portal_serv01.mysql.driverClassName}"/>
        <property name="url" value="${edu_portal_serv01.mysql.url}"/>
        <property name="username" value="${edu_portal_serv01.mysql.username}"/>
        <property name="password" value="${edu_portal_serv01.mysql.password}"/>
    </bean>

    <bean id="entityManagerFactoryServ01" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSourceServ01"/>
        <property name="persistenceUnitName" value="edu_portal_serv01"/>
        <property name="packagesToScan" value="ru.systemoteh.educationportal.serv.model"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>

    <bean id="transactionManagerServ01" name="edu_portal_serv01"
          class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactoryServ01"/>
    </bean>


    <!-- Service database 02 -->
    <bean id="dataSourceServ02" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${edu_portal_serv02.mysql.driverClassName}"/>
        <property name="url" value="${edu_portal_serv02.mysql.url}"/>
        <property name="username" value="${edu_portal_serv02.mysql.username}"/>
        <property name="password" value="${edu_portal_serv02.mysql.password}"/>
    </bean>

    <bean id="entityManagerFactoryServ02" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSourceServ02"/>
        <property name="persistenceUnitName" value="edu_portal_serv02"/>
        <property name="packagesToScan" value="ru.systemoteh.educationportal.serv.model"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>

    <bean id="transactionManagerServ02" name="edu_portal_serv02"
          class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactoryServ01"/>
    </bean>


    <tx:annotation-driven transaction-manager="transactionManagerPrim"/>
    <tx:annotation-driven transaction-manager="transactionManagerServ01"/>
    <tx:annotation-driven transaction-manager="transactionManagerServ02"/>

    <!-- Nested package included -->
    <jpa:repositories base-package="ru.systemoteh.educationportal.prim.repository"
                      entity-manager-factory-ref="entityManagerFactoryPrim"
                      transaction-manager-ref="transactionManagerPrim"/>
    <jpa:repositories base-package="ru.systemoteh.educationportal.serv.repository"
                      entity-manager-factory-ref="entityManagerFactoryServ01"
                      transaction-manager-ref="transactionManagerServ01"/>
    <jpa:repositories base-package="ru.systemoteh.educationportal.serv.repository"
                      entity-manager-factory-ref="entityManagerFactoryServ02"
                      transaction-manager-ref="transactionManagerServ02"/>


    <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>


</beans>