<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
       mvc:annotation-driven configures Spring MVC annotations
       Support for validating @Controller inputs with @Valid, if a JSR-303 Provider is present on the classpath.
       HttpMessageConverter support for @RequestBody method parameters and @ResponseBody method return values
       from @RequestMapping or @ExceptionHandler methods.
    -->
    <mvc:annotation-driven/>

    <mvc:resources mapping="/resources/**" location="/resources/"/>
    <!--<mvc:resources mapping="/favicon.ico" location="/resources/img/favicon.ico"/>-->


    <!-- Message when the authorization, notices to the user -->
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>classpath:validation</value>
            </list>
        </property>
    </bean>

    <!-- Spring ViewResolver bean config for mapping strings to jsp/xhtml views -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/pages/global/"/>
        <!--<property name="suffix" value=".jsp" value=".xhtml"/>-->
    </bean>

    <!-- File Upload bean config-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- set the maximum file size in bytes -->
        <property name="maxUploadSize" value="1000000"/>
    </bean>

</beans>